<div class="container">
  <h4 class="add-title">Add Permit</h4>
<form #addForm="ngForm" >
  <div class="form-floating mb-3">
    <input required type="text" name="empName" [(ngModel)]="permit.empName" class="form-control" id="floatingInput"
      placeholder="Name" />
    <label for="floatingInput" for="empName">Name</label>
  </div>

  <div class="form-floating mb-3">
    <input required type="text" name="empLastName" [(ngModel)]="permit.empLastName" class="form-control"
      id="floatingInput" placeholder="Name" />
    <label for="floatingInput" for="empLastName">Last Name</label>
  </div>

  <div class="form-floating mb-3">
    <input required type="number" name="permitType" [(ngModel)]="permit.permitTypeId" class="form-control"
      id="floatingInput" placeholder="Name" />
    <label for="floatingInput" for="permitType">Permit Type</label>
  </div>

  <div class="form-floating mb-3">
    <input type="date" name="permitDate" [(ngModel)]="permit.permitDate" class="form-control" id="floatingInput"
      placeholder="Name" />
    <label for="floatingInput" for="permitDate">Date</label>
  </div>
  <div *ngIf="showAlert" class="success-alert">
    <div class="alert alert-dark" role="alert">
      Your permit has been added successfully!
    </div>
  </div>
  <button [disabled]="addForm.invalid" (click)="add()" class="btn btn-dark mt-3">Add</button>
</form>
</div>
