<div class="container">
  <h3 class="permit-title">Permits:</h3>

  <div *ngFor="let permit of permits">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {{ permit.empName }} {{ permit.empLastName }}
        </h5>
        <p>ID: #{{ permit.permitId }}</p>
        <p>Permit Type: {{ permit.permitType }}</p>
        <p>Permit Type ID: #{{ permit.permitTypeId }}</p>
        <p>Date: {{ permit.permitDate.toString().slice(0, 10) }}</p>
        <button class="btn btn-danger" (click)="deletePermit(permit.permitId)">
          Delete
        </button>
        <a routerLink="/edit/{{ permit.permitId }}" class="btn btn-dark mx-2"
          >Update</a
        >
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
